button{
    background-color: red;
    color: black;
    width: 30px; 
    height: 30px;
    border-radius: 5px;  
    margin-right: 10px; 
}
i{
    color: black;
}
.big-checkbox {
    width: 30px; 
    height: 30px;
    color: black;
    margin-right: 10px;
    border-radius: 5px;   
    
}
.second-check{
    background-color: blue;
    
}
.icon{
    color: white;
}
input{
    width: 800px;
   color: green;
   font-size: 15px;
}